html, body {
    font-family: 'Rubik', sans-serif;
    font-family: 'Wix Madefor Text', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #1e2223;
}

input {
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;

}